<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

    <div class="page-content">

        <div class="page-header">
            <h1>Pokemon Type Lookup Tool</h1>
            <p> Generation # {{ generation }} </p>
        </div>

        <form action="/submit" method="POST">
            <!-- Dropdown Menu -->
            <label for="type">Select Type:</label>
            <select id="type" name="type" required>
                <option value="GRASS">Grass</option>
                <option value="FIRE">Fire</option>
                <option value="WATER">Water</option>
                <option value="BUG">Bug</option>
                <option value="DARK">Dark</option>
                <option value="DRAGON">Dragon</option>
                <option value="ELECTRIC">Electric</option>
                <option value="FAIRY">Fairy</option>
                <option value="FIGHTING">Fighting</option>
                <option value="FLYING">Flying</option>
                <option value="GHOST">Ghost</option>
                <option value="GROUND">Ground</option>
                <option value="ICE">Ice</option>
                <option value="NORMAL">Normal</option>
                <option value="POISON">Poison</option>
                <option value="PSYCHIC">Psychic</option>
                <option value="ROCK">Rock</option>
                <option value="STEEL">Steel</option>
            </select><br><br>

            <!-- Submit Button -->
            <button type="submit">Submit</button>
        </form>
    </div>


</body>

</html>